/* Elements */

footer {
    margin-top: 1em;
    padding: 1em;
}

/* Classes */

.alpha {
    padding-left: 0;
    margin-left: 0;
}

.omega {
    padding-right: 0;
    margin-left: 0;
}

.triangle {
    color: rgb(63, 123, 253);
    position: absolute;
    font-size: 1.5em;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
}

.list {
    margin-top: 1.5em;
}

/* Product Search */

.product-categories {
    box-shadow: 0 0 12px #a0a0a0;
}

.product-categories .list {
    margin: 2em auto 1em auto;
    width: 90%;
}

.product-categories .title {
    background-color: rgb(63, 123, 253);
    text-align: center;
    color: white;
    padding: 1em;
}

.product-categories .title h3 {
    margin: 0;
}

/* Product List */

.product-list .item {
    max-height: 100px;
    display: flex;
    margin: 1em 0;
}

.product-list .item .image {
    text-align: center;
}

.product-list .item .image img {
    height: 100%;
}

/* Product List Payment */

.product-list .item .payment {
    text-align: right;
}

.product-list .item .payment .btn {
    width: 100%;
}

.product-list .item .payment p {
    margin: 0;
}

/* Cart */

.cart {
    background-color: #f8f8f8;
    position: absolute;
    width: 250px;
    padding: 1em;
    z-index: 100;
    border: 1px solid #e7e7e7;
    border-top: none;
}

.cart-items {
    list-style: none;
    margin-left: 1em;
    margin-top: 1em;
    padding: 0;
}

.cart-item {
    justify-content: space-between;
    display: flex;
    margin-top: 0.5em;
}

.cart-item p {
    margin: 0;
}

.cart-item:not(:last-child) {
    border-bottom: 1px solid #e7e7e7;
}

.cart-item-inner {
    display: flex;
}

.cart-item-remove {
    padding: 0.2em;
    font-size: 10px;
    margin-right: 0.5em;
}

.cart-checkout {
    margin-top: 1em;
    width: 100%;
}